{
  "TANAYTOURISM": {
    "environment": "development",
    "base_url": "//tanay-tourism.000webhostapp.com/a99/",
    "e_key": "tanayrizal2018",
    "dbase": {
      "host": "127.0.0.1",
      "user": "id6727110_tanaytourism",
      "pass": "TanayRizal2018!",
      "name": "id6727110_tanaytourism"
    },
    "default_controller": "home",
    "default_template": "frontend",
    "api_path": "//tanay.tourism/administrator/",
    "credentials": {
      "headers": {
      	"Content-Type": "application/x-www-form-urlencoded",
      	"X-RESTLET": "true"
      },
      "auth": [
      	"tanaytourism",
      	"tanay2018tourism"
      ]
    },
    "menu_items": [
      {
        "url": "home",
        "controller": "home",
        "caption": "Home",
        "sub-menu": []
      },
      {
        "url": "news-and-update",
        "controller": "news",
        "caption": "News & Update",
        "sub-menu": []
      },
      {
        "url": "history-culture-arts",
        "controller": "hca",
        "caption": "History, Culture, Arts",
        "sub-menu": [
          {
            "url": "/history",
            "caption": "History"
          },
          {
            "url": "/culture",
            "caption": "Culture"
          },
          {
            "url": "/arts",
            "caption": "Arts"
          }
        ]
      },
      {
        "url": "people-and-places",
        "controller": "people_places",
        "caption": "People & Places",
        "sub-menu": [
          {
            "url": "/people",
            "caption": "People"
          },
          {
            "url": "/places",
            "caption": "Places"
          }
        ]
      },
      {
        "url": "festival-and-cuisine",
        "controller": "festival_cuisine",
        "caption": "Festival & Cuisine",
        "sub-menu": [
          {
            "url": "/festival",
            "caption": "Festival"
          },
          {
            "url": "/cuisine",
            "caption": "Cuisine"
          }
        ]
      },
      {
        "url": "hotel-finder",
        "controller": "hotel_finder",
        "caption": "Hotel Finder",
        "sub-menu": []
      },
      {
        "url": "contact-us",
        "controller": "contact",
        "caption": "Contact Us",
        "sub-menu": []
      }
    ]
  }
}
