{
  "TANAYTOURISM": {
    "environment": "development",
    "base_url": "//tanay-tourism.000webhostapp.com/",
    "e_key": "tanayrizal2018",
    "dbase": {
      "host": "127.0.0.1",
      "user": "id6727110_tanaytourism",
      "pass": "TanayRizal2018!",
      "name": "id6727110_tanaytourism"
    },
    "default_controller": "home",
    "image_upload_path": "assets/images/"
  }
}
