{
  "TANAYTOURISM": {
    "environment": "development",
    "base_url": "//tanay-tourism.000webhostapp.com/",
    "e_key": "tanayrizal2018",
    "dbase": {
      "host": "127.0.0.1",
      "user": "id6727110_tanaytourism",
      "pass": "TanayRizal2018!",
      "name": "id6727110_tanaytourism"
    },
    "default_template": "frontend",
    "default_controller": "home",
    "image_upload_path": "assets/images/",
    "menu_items": [
      {
        "url": "home",
        "controller": "home",
        "caption": "Home",
        "sub-menu": []
      },
      {
        "url": "news",
        "controller": "news",
        "caption": "News",
        "sub-menu": []
      },
      {
        "url": "history-culture-arts",
        "controller": "hca",
        "caption": "History, Culture &amp; Arts",
        "sub-menu": []
      },
      {
        "url": "people-places",
        "controller": "pp",
        "caption": "People &amp; Places",
        "sub-menu": []
      },
      {
        "url": "festival-cuisine",
        "controller": "fc",
        "caption": "Festival &amp; Cuisine",
        "sub-menu": []
      },
      {
        "url": "hane-finder",
        "controller": "hf",
        "caption": "H.A.N.E. Finder",
        "sub-menu": []
      }
    ]
  }
}
