@import "fonts.css";


html,body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
}

.container-background {
	background-color: #fff;
}

.container-fluid {
	width: 100%;
}


.header {
	background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url("../images/header.png") center no-repeat;
	background-size:cover;
	margin: 0 auto;
	width: 105%;
	height: 100px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
	margin-bottom: 10px;
}

.header img {
			width: 30%;
	    margin-top: 0%;
			margin-left: -25px;
}




.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    background-color: #0e4d92;
}

.navbar-header{
	background-color: #0e4d92;
}


.navigation {
	/* top: 50%;
	position: relative;
	margin: 0 auto;
	background: rgba(50, 50, 50, 0.4);
	padding: 10px;
	width: 80%;
	text-align: center; */
	min-height:32px !important
}

.header ul {
	list-style: none;
}

.header li {
	display: inline-block;
	margin-left: 15%;
	font-style: italic;
	font-weight: 900;
	text-decoration: underline;
}

.header li a:link,
.header li a:active,
.header li a:hover,
.header li a:visited {
	color: white;
}

.footer li a:link,
.footer li a:active,
.footer li a:hover,
.footer li a:visited {
	color: white;
}


.footer {
	background-color: #0e4d92;
	padding: 10px 80px;
}


.logo img {
	width: 40%;
	margin-left: 10px
}

.site-map ul {
	list-style: none;
	margin-left: -40px;
	color: white;
}

.contact-info div {
	word-break: break-all;
	font-size: 12px;
	width: 100%;
	color: white;
}

.text-pink {
	color: pink;
}

@media screen and (min-width: 992px) {
	.header {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url(../images/header.png) center no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
	}
	.header img {
		width: 70%;
    margin-top: 0%;
    margin-left: -25px;
	}
}
