.festival {
  padding: 20px 50px;
  margin-bottom: 200px;
}

.festival .section-title img{
  width: 10%;
}

[class^='img-banda'] img {
  width: 50%;
}

.img-banda-left {
  position: absolute;
    top: 42%;
    left: 0;
    width: 100%;
}

.img-banda-right {
  position: absolute;
  top: 42%;
  left: 50%;
  width: 100%;
}

.text-f{
  color: #fb79a7;
  font-size: 65px;
font-style: italic;
padding-top: 10px;
}

.text-e{
  color: #fece14;
font-size: 65px;
font-style: italic;
padding-top: 10px;
}

.text-s{
  color: #85c441;
  font-size: 65px;
font-style: italic;
padding-top: 10px;
}

.text-t{
  color: #a463c2;
  font-size: 65px;
font-style: italic;
padding-top: 10px;
}

.text-i{
  color: #e21b20;
  font-size: 65px;
font-style: italic;
padding-top: 10px;
}

.text-v{
  color: #ff6b13;
  font-size: 65px;
font-style: italic;
padding-top: 10px;
}

.text-a{
color:  #fece14;
font-size: 65px;
font-style: italic;
padding-top: 10px;
}

.text-l{
  color: #a463c2;
  font-size: 65px;
  font-style: italic;
  padding-top: 10px;
}

.festival-headline .row {
  background-image: url(../images/fireworks.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
