@import "common.css";

.container-body {
	background: rgb(242,225,158);
	background: linear-gradient(135deg, rgba(242,225,158,1) 0%, rgba(242,233,201,1) 22%, rgba(226,217,181,1) 50%, rgba(171,157,99,1) 79%, rgba(148,134,81,1) 95%, rgba(148,134,81,1) 100%);
}

.culture-arts {
	background: rgb(247,238,239);
background: linear-gradient(270deg, rgba(247,238,239,1) 0%, rgba(250,187,185,1) 22%, rgba(197,63,61,1) 50%, rgba(185,31,41,1) 79%, rgba(154,20,27,1) 100%);
}

.all-news {
	width: 70%;
	border-radius: 60px 20px;
	border: solid #2276BC;
	margin-bottom: 1%;
}

.history {
	padding: 10px 20px;
}

.history .section-title {
	margin-left: 1%;
}

.history .section-title h1 {
	color: #66342D;
	font-size: 60px;
}

.culture-arts {
	Color: #FFF;
	font-size: 60px;
}


.culture-arts {
	padding: 10px 20px;
}



.divider {
	margin-bottom: 10px;
}

.divider hr {
	border: none;
	height: 3px;
	width: 35%;
	/* Set the hr color */
	color: #66342D; /* old IE */
	background-color: #66342D; /* Modern Browsers */
	margin: 0;
}

.divider2 hr {
	border: none;
	height: 1px;
	width: 100%;
	/* Set the hr color */
	color: #66342D; /* old IE */
	background-color: #66342D; /* Modern Browsers */
	margin: 0;
}

.divider3 > div:first-child {
	padding: 0 40px 0 25px;
}

.divider3 > div:last-child {
	padding: 0 25px 0 40px;
}

.divider4 hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 2px solid #8a6d3b;
}

.history-row {
	padding: 40px 0;
}

.history-row .history-item:first-child {
	padding: 0 40px;
}

.history-row .history-item:last-child {
	padding: 0 40px;
	border-left: solid 2px #66342D;
}

.history-title {
	font-size: 24px;
	font-weight: bold;
}

.author-name, .date-posted {
	font-size: 12px;
}

.history-container {
	background: rgba(255, 255, 255, 0.7);
	padding: 10px;
	height: 370px;
	min-height: 350px;
}

.history-image {
	text-align: center;
}

img:not([id="headerLogo"]){
	height: 20%;
	width: 30%;
	margin-left: 32%;
	margin-top: 2%;
	margin-bottom: 2%;
}
