@import "common.css";

.news-and-update {
	padding: 10px 15px;
}

@media (min-width: 992px) {
	.news-and-update {
		padding: 10px 125px;
	}
}

.all-news {
	width: 70%;
	border-radius: 60px 20px;
	border: solid #2276BC;
}

.news-and-update .section-title {
	margin-left: 1%;
}

.news-and-update .section-title h1 {
	color: #1D5C87;
	font-size: 60px;
}

.news-and-update .section-title h2 {
	font-style: italic;
	color: #2276BC;
	margin: 0;
	margin-top: 3px;
}

.news-and-update .section-title h3 {
	font-size: 12px;
	font-style: italic;
	margin: 0;
	margin-top: 3px;
}

.news-and-update .latest-update {
	margin: 8px auto;
}

.divider {
	margin-bottom: 10px;
}

.divider hr {
	border: none;
	height: 3px;
	width: 35%;
	/* Set the hr color */
	color: #2276BC; /* old IE */
	background-color: #2276BC; /* Modern Browsers */
	margin: 0;
}

.divider2 hr {
	border: none;
	height: 1px;
	width: 98%;
	/* Set the hr color */
	color: #2276BC; /* old IE */
	background-color: #2276BC; /* Modern Browsers */
	margin: 0;
}

.divider3 {
	padding: 0;
	margin: 0 auto;
}

.divider3 hr {
	border: none;
	height: 1px;
	width: 100%;
	/* Set the hr color */
	color: #ccc; /* old IE */
	background-color: #ccc; /* Modern Browsers */
	margin: 0 auto;
}

.divider3 > div:first-child {
	padding: 0 40px 0 25px;
}

.divider3 > div:last-child {
	padding: 0 25px 0 40px;
}

.news-row {
	padding: 40px 0;
}

.news-row .news-item:first-child {
	padding: 0 40px;
}

.news-row .news-item:last-child {
	padding: 0 40px;
	border-left: solid 1px #2276BC;
}

.news-container {
	border: solid thin #707070;
	background-color: #fff;
	padding: 10px;
	opacity: 0.9;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	height: 370px;
  min-height: 350px;
}

.news-title {
	font-size: 24px;
	font-weight: bold;
}

.author-name, .date-posted {
	font-size: 12px;
}

.news-content {
	font-style: italic;
	word-break: break-all;
}

.other-columns {
	padding: 10px 115px;
}

.item-content {
	padding-right: 30px;
}

.announcement {
	padding: 10px 125px;
}

.special-feature {
	padding: 10px 125px;
}

#news-picture {
	height: 20%;
	width: 30%;
	margin-left: 32%;
	margin-top: 2%;
	margin-bottom: 2%;
}
