@import "common.css";

.item-image img{
width: 80%;
height: 100px;
}

.content-container {
  border: solid thin #707070;
  background-color: #fff;
  padding: 10px;
  opacity: 0.9;

}

.item-container{
  border: solid thin #707070;
  background-color: #fff;
  padding: 10px;
  opacity: 0.9;
  margin-bottom: 2%;
  }

.content-container {
  overflow-y: auto;
  height: 410px;
}

.col-md-7 img {
  width: 100%;
height: 410px;
}

.other-columns {
  border: solid thin #707070;
  background-color: #fff;
  padding: 30px;
  opacity: 0.9;
  margin-bottom: 10px;
}

.button-back{
  padding: 10px;
}

.map-container {
  border: solid thin #707070;
  background-color: #fff;
  padding: 10px;
  opacity: 0.9;
}

#map {
  height: 389px;
}

.content-container a {
  color: #FFFF;
}
